body {
  margin: 0;
  padding: 10px;
  font-family: Verdana, sans-serif;
  background: bisque;
  color: black;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

td {
  padding: 5px;
}

.form-control {
  margin: 0 10px 0 10px;
}


