<!DOCTYPE html>
<html>
<head>
  <title>My Trips</title>
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
<h1>MyTrips</h1>
<ul id="trips">
  <li class="trip">
    <div class="date">12/05/2005</div>
    <div class="city">Rome</div>
    <div class="review">Veel gezien, veel gedaan</div>
    <div class="rating">8</div>
  </li>
  <li class="trip">
    <div class="date">14/06/2015</div>
    <div class="city">Antwerpen</div>
    <div class="review">Was wel ok</div>
    <div class="rating">6</div>
  </li>
</ul>
<footer>Thomas &copy; <span>2020</span></footer>
</body>
</html>
