body {
  margin: 0;
  padding: 10px;
  font-family: Verdana, sans-serif;
  background: lightblue;
  color: black;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

table {
  margin: 50px 0 0 0 ;
}

th {
  text-align: left;
}

td {
  padding-right: 10px;
}


form {
  padding: 5px;
  width: 300px;
}


label {
  text-align: right;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px;
}

.form-control {
  float:right;
}

.btn-primary {
  float: right;
  margin-top: 10px;
}

.ng-invalid:not(form) {
  border-color: red;
  background: lightcoral;
}


