body {
  margin: 0;
  padding: 10px;
  font-family: Verdana, sans-serif;
  background: lightblue;
  color: black;
}

h1 {
  font-weight: bold;
  text-decoration: underline;
}

table {
  margin: 50px 0 0 0 ;
}

th {
  text-align: left;
}

td {
  padding-right: 10px;
}


form {
  padding: 5px;
  width: 40%;
}


label {
  text-align: right;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 5px;
}

.btn-primary {
  float: right;
  margin-top: 10px;
}

input.ng-dirty.ng-valid {
  background-color: lightgreen;
}

input.ng-dirty.ng-invalid,
input.ng-touched.ng-invalid {
  box-shadow: 0 0 5px 2px red;
}



